body {
  background: #bca;
  margin: 0;
  line-height: 1.5em;
  font: small 'Trebuchet MS', Verdana, Arial, Sans-serif;
  color: #e6ffa2;
  /* Removed text-align: center from here */
}

#outer-wrapper {
  width: 740px;
  margin: 0 auto;
  text-align: left;
}

#header-wrapper {
  background: #476 url("https://web.archive.org/web/20180904033122im_/http://www2.blogblog.com/rounders4/corners_cap_top.gif") no-repeat left top;
  margin-top: 22px;
  padding-top: 8px;
  color: #ffffff;
}

#header h1 {
  margin: 0;
  padding: 10px 30px 5px;
  font: normal bold 200% 'Trebuchet MS', Verdana, Arial, Sans-serif;
}

#main-wrap1 {
  width: 485px;
  float: left;
  background: #446666 url("https://web.archive.org/web/20180904033122im_/http://www1.blogblog.com/rounders4/corners_main_bot.gif") no-repeat left bottom;
  margin: 15px 0 0;
  padding: 0 0 10px;
}

#main-wrap2 {
  background: url("https://web.archive.org/web/20180904033122im_/http://www1.blogblog.com/rounders4/corners_main_top.gif") no-repeat left top;
  padding: 10px 0 0;
}

h2.date-header {
  margin: 10px 43px 0;
  font-size: 85%;
  color: #ccff44;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.post {
  margin: .3em 0 25px;
  padding: 0 13px;
  border: 1px dotted #bbbbbb;
  border-width: 1px 0;
}

.post h3 {
  margin: 0;
  color: #ffffff;
  font: normal bold 135% 'Trebuchet MS', Verdana, Arial, Sans-serif;
  padding: 5px 29px;
  border: 1px dotted #bbbbbb;
  border-width: 0 1px 1px;
}

.post-body {
  padding: 10px 29px;
  color: #e6ffa2;
}

a:link {
  color: #ffff66;
}

a:visited {
  color: #f3ffd1;
}

/* Explicitly ensure lists are left-aligned */
ul, ol, li {
  text-align: left;
}
