<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<div id="outer-wrapper">
  <div id="header-wrapper">
    <div id="header">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    </div>
  </div>
<div id="main-wrap1"><div id="main-wrap2">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="date-header">{{ page.date | date: "%A, %B %e, %Y" }}</h2>
  <div class="post">
    <div class="post-body">
      {{ content }}
    </div>
  </div>
</div></div>
</div>
</body>
</html>
